html {
    height: 100%;
    box-sizing: border-box;
}

body {
    padding-top : 100px;
    padding-bottom: 85px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}

footer {
    border-top: 1px solid #ddd;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10pt 0 5pt 0;


}


.add {
    width: 6rem;
    height: 6rem;
    text-align: center;
    line-height: 6rem;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

    .add .material-icons {
        font-size:2.5rem;
    }


.fixed-corner {
    position: fixed;
    bottom: 8rem;
    right: 2.5rem;
}

.card-title { 
    margin-top:10px !important;
}

.required:after {
    content: "*";
    font-weight: bold;
    color: #e91e63;
    margin-left:4px;
}