html {
    height: 100%;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    padding-bottom: 85px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}

footer {
    border-top: 1px solid #ddd;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10pt 0 5pt 0;
}

.add {
    width: 6rem;
    height: 6rem;
    text-align: center;
    line-height: 6rem;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.add .material-icons {
    font-size: 2.5rem;
}

.fixed-corner {
    position: fixed;
    bottom: 8rem;
    right: 2.5rem;
}

.card-title {
    margin-top: 10px !important;
}

.required:after {
    content: "*";
    font-weight: bold;
    color: #e91e63;
    margin-left: 4px;
}

.my-links {
    a {
        cursor: pointer;
        color: #a6a9ac !important;
        text-decoration: none !important;
        transition: all 0.2s ease-in-out;
        font-size: 1.65rem;
        margin: 0 0.2rem;

        &:hover {
            color: #000 !important;
        }
    }
}


.color-white {
    color:#fff !important;
}

.dropdown-header button {
    background: #fff !important;
    color: #000 !important;
    font-size: 0.9em !important;
}

.dropdown-header span{
    font-size: 0.9em !important;
}

/* Update hover color */
.dropdown-menu li a:active, .dropdown-menu li a:focus, .dropdown-menu li a:hover {
    background-color: #0366d6;
    color: #fff;
}