html {
    height: 100%;
    box-sizing: border-box;
}

body {
    padding-bottom: 85px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10pt 0 5pt 0;
    color: #000;
    text-shadow: 0 1px 1px #fff;
    font-size: 1.5rem;

    .my-links a {
        cursor: pointer;
        color: #a6a9ac !important;
        text-decoration: none !important;
        transition: all .2s ease-in-out;
        font-size: 1.65rem;
        margin: 0 .2rem
    }

    .my-links a:hover {
        color: #000 !important
    }

    .developer {
        font-weight: 400;
    }
}

.navbar, .navbar.navbar-default, .navbar .btn {
    background-color: #fff;
    color: #000 !important
}

.navbar-transparent.navbar, .navbar.navbar-default, .navbar-transparent .btn {
    color: #fff !important
}

.container-fluid {
    padding: 0;
}

$header-main-color: #9a9a9a;

.index-page {
    .header-filter:after {
        background: rgba($header-main-color,0.8);
        background: linear-gradient(45deg,rgba($header-main-color,0.8),rgba($header-main-color,0.4));
        background: -webkit-linear-gradient(135deg,rgba($header-main-color,0.8),rgba($header-main-color,0.4));
    }

    .brand {
        h1 {
            text-shadow: 0 1px 4px rgba(0,0,0,0.2);
        }
    }
}

.books {
    > div.col-md-3 {
        padding: 10px;
    }

    div.col-md-4 {
        padding: 0 15px 10px 0;
    }

    .book {
        display: inline-block;
        position: relative;
        width: 100%;
        border-radius: 3px;
        color: rgba(0,0,0,.87);
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        overflow: hidden;
        cursor: pointer;

        a {
            color: rgba(0,0,0,.87);
        }

        .cover {
            overflow: hidden;

            img {
                width: 100%;
                height: 350px;
                border-radius: 4px 4px 0 0;
                transform: scale(1.01);
            }
        }

        .title {
            h3 {
                padding: 0 5px;
                text-shadow: 0 1px 2px rgba(0,0,0,0.2);
            }
        }

        .overlay {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            color: #616161;
            padding: 4px;
            text-align: center;
            width: 100%;
            height: 100%;
            transition: all .2s ease-in-out;
            background-color: rgb(255, 255, 255);
            border-radius: 4px;
            text-shadow: 0 3px 2px rgba(0,0,0,0.1);

            h3 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 100%;
                font-weight: 500;
                margin: 0;
            }
        }

        &:hover .overlay {
            opacity: 1;
        }
    }
}

.background-size-small {
    .wrapper > .header {
        height: 70vh;
    }
}

.books-search {
    .row {
        margin: 0;
    }

    .panel {
        border-radius: 3px;
        color: rgba(0,0,0,.87);
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

        .panel-heading {
            h3 {
                margin: 0
            }
        }

        .panel-body {
            .form-group.is-focused .form-control {
                outline: none;
                background-image: linear-gradient(rgba(0,0,0,0.2),#9a9a9a),linear-gradient(#d2d2d2,#d2d2d2);
                background-size: 100% 2px,100% 1px;
                box-shadow: none;
                transition-duration: .3s
            }

            .form-group.is-focused .form-control .material-input:after {
                background-color: #9a9a9a
            }

            .form-group.is-focused label, .form-group.is-focused label.control-label {
                color: #9a9a9a
            }
        }
    }
}

.display-none {
    display: none;
}

.index {
    .container-fluid {
        padding: 0 30px;
    }
}

.breadcrumb {
    background-color: transparent;
}

.btn.btn-rose, .btn.btn-rose:hover, .btn.btn-rose:focus, .btn.btn-rose:active, .btn.btn-rose.active, .btn.btn-rose:active:focus, .btn.btn-rose:active:hover, .btn.btn-rose.active:focus, .btn.btn-rose.active:hover, .open > .btn.btn-rose.dropdown-toggle, .open > .btn.btn-rose.dropdown-toggle:focus, .open > .btn.btn-rose.dropdown-toggle:hover,
.navbar .navbar-nav > li > a.btn.btn-rose,
.navbar .navbar-nav > li > a.btn.btn-rose:hover,
.navbar .navbar-nav > li > a.btn.btn-rose:focus,
.navbar .navbar-nav > li > a.btn.btn-rose:active,
.navbar .navbar-nav > li > a.btn.btn-rose.active,
.navbar .navbar-nav > li > a.btn.btn-rose:active:focus,
.navbar .navbar-nav > li > a.btn.btn-rose:active:hover,
.navbar .navbar-nav > li > a.btn.btn-rose.active:focus,
.navbar .navbar-nav > li > a.btn.btn-rose.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-rose.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-rose.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-rose.dropdown-toggle:hover {
    background-color: #e91e63;
    color: #FFFFFF;
}

.btn.btn-rose:focus, .btn.btn-rose:active, .btn.btn-rose:hover,
.navbar .navbar-nav > li > a.btn.btn-rose:focus,
.navbar .navbar-nav > li > a.btn.btn-rose:active,
.navbar .navbar-nav > li > a.btn.btn-rose:hover {
    box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.btn.btn-rose.disabled, .btn.btn-rose.disabled:hover, .btn.btn-rose.disabled:focus, .btn.btn-rose.disabled.focus, .btn.btn-rose.disabled:active, .btn.btn-rose.disabled.active, .btn.btn-rose:disabled, .btn.btn-rose:disabled:hover, .btn.btn-rose:disabled:focus, .btn.btn-rose:disabled.focus, .btn.btn-rose:disabled:active, .btn.btn-rose:disabled.active, .btn.btn-rose[disabled], .btn.btn-rose[disabled]:hover, .btn.btn-rose[disabled]:focus, .btn.btn-rose[disabled].focus, .btn.btn-rose[disabled]:active, .btn.btn-rose[disabled].active, fieldset[disabled] .btn.btn-rose, fieldset[disabled] .btn.btn-rose:hover, fieldset[disabled] .btn.btn-rose:focus, fieldset[disabled] .btn.btn-rose.focus, fieldset[disabled] .btn.btn-rose:active, fieldset[disabled] .btn.btn-rose.active,
.navbar .navbar-nav > li > a.btn.btn-rose.disabled,
.navbar .navbar-nav > li > a.btn.btn-rose.disabled:hover,
.navbar .navbar-nav > li > a.btn.btn-rose.disabled:focus,
.navbar .navbar-nav > li > a.btn.btn-rose.disabled.focus,
.navbar .navbar-nav > li > a.btn.btn-rose.disabled:active,
.navbar .navbar-nav > li > a.btn.btn-rose.disabled.active,
.navbar .navbar-nav > li > a.btn.btn-rose:disabled,
.navbar .navbar-nav > li > a.btn.btn-rose:disabled:hover,
.navbar .navbar-nav > li > a.btn.btn-rose:disabled:focus,
.navbar .navbar-nav > li > a.btn.btn-rose:disabled.focus,
.navbar .navbar-nav > li > a.btn.btn-rose:disabled:active,
.navbar .navbar-nav > li > a.btn.btn-rose:disabled.active,
.navbar .navbar-nav > li > a.btn.btn-rose[disabled],
.navbar .navbar-nav > li > a.btn.btn-rose[disabled]:hover,
.navbar .navbar-nav > li > a.btn.btn-rose[disabled]:focus,
.navbar .navbar-nav > li > a.btn.btn-rose[disabled].focus,
.navbar .navbar-nav > li > a.btn.btn-rose[disabled]:active,
.navbar .navbar-nav > li > a.btn.btn-rose[disabled].active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-rose, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-rose:hover, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-rose:focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-rose.focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-rose:active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-rose.active {
    box-shadow: none;
}

.btn.btn-rose.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-rose.btn-simple {
    background-color: transparent;
    color: #e91e63;
    box-shadow: none;
}

.action-btn {
    text-align: center;

    .btn {
        width: 49%;
        margin-left: 0;
        margin-right: 0;
    }
}

.header-imgae {
    background-image: url('/Content/images/books.jpeg');
}

/* rtl implementation */
body[dir=rtl] {
    font-family: 'Droid Arabic Naskh', serif;

    .label-floating {
        .control-label {
            right: 0;
        }
    }

    .navbar-header, .navbar-nav {
        float: right;

        li {
            float: right;
        }
    }

    .navbar-nav.navbar-right {
        float: left !important;
    }
}

div[dir=rtl] {
    text-align: right;

    .books > div, .books-items > div, .books-details > div {
        float: right;
    }
}