html {
    height: 100%;
    box-sizing: border-box;
}

body {
    padding-bottom: 85px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10pt 0 5pt 0;
    color: #000;
    text-shadow: 0 1px 1px #fff;
    font-size: 1.5rem;

    .fa { 
        color:#000;
    }
    .developer { 
        font-weight:400;
    }
}

.navbar, .navbar.navbar-default, .navbar .btn {
    background-color: #fff;
    color: #000 !important
}

.navbar-transparent.navbar, .navbar.navbar-default, .navbar-transparent .btn {
    color: #fff !important
}


.container-fluid {
    padding: 0;
}

$header-main-color: #9a9a9a;
.index-page {

    .header-filter:after {
        background: rgba($header-main-color,0.8);
        background: linear-gradient(45deg,rgba($header-main-color,0.8),rgba($header-main-color,0.4));
        background: -webkit-linear-gradient(135deg,rgba($header-main-color,0.8),rgba($header-main-color,0.4));
    }

    .brand {
        h1 {
            text-shadow: 0 1px 4px rgba(0,0,0,0.2);
        }
    }
}
