html {
    height: 100%;
    box-sizing: border-box;
}

body {
    padding-bottom: 85px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10pt 30px 5pt;
    color: #000;
    text-shadow: 0 1px 1px #fff;
    font-size: 1.5rem;

    .my-links a {
        cursor: pointer;
        color: #a6a9ac !important;
        text-decoration: none !important;
        transition: all .2s ease-in-out;
        font-size: 1.65rem;
        margin: 0 .2rem
    }

    .my-links a:hover {
        color: #000 !important
    }

    .developer {
        font-weight: 400;
        font-family: Roboto;
    }
}

@media (max-width: 768px) {
    footer .col-xs-12, footer .text-right, footer .text-left {
        text-align: center !important;
    }
}
.navbar, .navbar.navbar-default, .navbar .btn {
    background-color: #fff;
    color: #000 !important
}

.navbar-transparent.navbar, .navbar.navbar-default, .navbar-transparent .btn {
    color: #fff !important
}

.nav.navbar-nav {
    padding: 0 30px !important;
}

.container-fluid {
    padding: 0;
}

$header-main-color: #9a9a9a;

.index-page {
    .header-filter:after {
        background: rgba($header-main-color,0.8);
        background: linear-gradient(45deg,rgba($header-main-color,0.8),rgba($header-main-color,0.4));
        background: -webkit-linear-gradient(135deg,rgba($header-main-color,0.8),rgba($header-main-color,0.4));
    }

    .brand {
        h1 {
            text-shadow: 0 1px 4px rgba(0,0,0,0.2);
        }
    }
}

.books {
    > div.col-md-3 {
        padding: 10px;
    }

    div.col-md-4 {
        padding: 0 15px 10px 0;
    }

    .book {
        display: inline-block;
        position: relative;
        width: 100%;
        border-radius: 3px;
        color: rgba(0,0,0,.87);
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        overflow: hidden;
        cursor: pointer;

        a {
            color: rgba(0,0,0,.87);
        }

        .cover {
            overflow: hidden;

            img {
                width: 100%;
                height: 350px;
                border-radius: 4px 4px 0 0;
                transform: scale(1.01);
            }
        }

        .title {
            display:none;
            h3 {
                padding: 0 5px;
                text-shadow: 0 1px 2px rgba(0,0,0,0.2);
            }
        }

        .overlay {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            color: #616161;
            padding: 4px;
            text-align: center;
            width: 100%;
            height: 100%;
            transition: all .2s ease-in-out;
            background-color: rgb(255, 255, 255);
            border-radius: 4px;
            text-shadow: 0 3px 2px rgba(0,0,0,0.1);

            h3 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 100%;
                font-weight: 500;
                margin: 0;
            }
        }

        &:hover .overlay {
            opacity: 1;
        }
    }
}

.background-size-small {
    .wrapper > .header {
        height: 70vh;
    }
}

.books-search {
    .row {
        margin: 0;
    }

    .panel {
        border-radius: 3px;
        color: rgba(0,0,0,.87);
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

        .panel-heading {
            h3 {
                margin: 0
            }
        }

        .panel-body {
            .form-group.is-focused .form-control {
                outline: none;
                background-image: linear-gradient(rgba(0,0,0,0.2),#9a9a9a),linear-gradient(#d2d2d2,#d2d2d2);
                background-size: 100% 2px,100% 1px;
                box-shadow: none;
                transition-duration: .3s
            }

            .form-group.is-focused .form-control .material-input:after {
                background-color: #9a9a9a
            }

            .form-group.is-focused label, .form-group.is-focused label.control-label {
                color: #9a9a9a
            }
        }
    }
}

.display-none {
    display: none;
}

.index {
    .container-fluid {
        padding: 0 30px;
    }
}

.breadcrumb {
    background-color: transparent;
}

.btn.btn-rose, .btn.btn-rose:hover, .btn.btn-rose:focus, .btn.btn-rose:active, .btn.btn-rose.active, .btn.btn-rose:active:focus, .btn.btn-rose:active:hover, .btn.btn-rose.active:focus, .btn.btn-rose.active:hover, .open > .btn.btn-rose.dropdown-toggle, .open > .btn.btn-rose.dropdown-toggle:focus, .open > .btn.btn-rose.dropdown-toggle:hover,
.navbar .navbar-nav > li > a.btn.btn-rose,
.navbar .navbar-nav > li > a.btn.btn-rose:hover,
.navbar .navbar-nav > li > a.btn.btn-rose:focus,
.navbar .navbar-nav > li > a.btn.btn-rose:active,
.navbar .navbar-nav > li > a.btn.btn-rose.active,
.navbar .navbar-nav > li > a.btn.btn-rose:active:focus,
.navbar .navbar-nav > li > a.btn.btn-rose:active:hover,
.navbar .navbar-nav > li > a.btn.btn-rose.active:focus,
.navbar .navbar-nav > li > a.btn.btn-rose.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-rose.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-rose.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-rose.dropdown-toggle:hover {
    background-color: #e91e63;
    color: #FFFFFF;
}

.btn.btn-rose:focus, .btn.btn-rose:active, .btn.btn-rose:hover,
.navbar .navbar-nav > li > a.btn.btn-rose:focus,
.navbar .navbar-nav > li > a.btn.btn-rose:active,
.navbar .navbar-nav > li > a.btn.btn-rose:hover {
    box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.btn.btn-rose.disabled, .btn.btn-rose.disabled:hover, .btn.btn-rose.disabled:focus, .btn.btn-rose.disabled.focus, .btn.btn-rose.disabled:active, .btn.btn-rose.disabled.active, .btn.btn-rose:disabled, .btn.btn-rose:disabled:hover, .btn.btn-rose:disabled:focus, .btn.btn-rose:disabled.focus, .btn.btn-rose:disabled:active, .btn.btn-rose:disabled.active, .btn.btn-rose[disabled], .btn.btn-rose[disabled]:hover, .btn.btn-rose[disabled]:focus, .btn.btn-rose[disabled].focus, .btn.btn-rose[disabled]:active, .btn.btn-rose[disabled].active, fieldset[disabled] .btn.btn-rose, fieldset[disabled] .btn.btn-rose:hover, fieldset[disabled] .btn.btn-rose:focus, fieldset[disabled] .btn.btn-rose.focus, fieldset[disabled] .btn.btn-rose:active, fieldset[disabled] .btn.btn-rose.active,
.navbar .navbar-nav > li > a.btn.btn-rose.disabled,
.navbar .navbar-nav > li > a.btn.btn-rose.disabled:hover,
.navbar .navbar-nav > li > a.btn.btn-rose.disabled:focus,
.navbar .navbar-nav > li > a.btn.btn-rose.disabled.focus,
.navbar .navbar-nav > li > a.btn.btn-rose.disabled:active,
.navbar .navbar-nav > li > a.btn.btn-rose.disabled.active,
.navbar .navbar-nav > li > a.btn.btn-rose:disabled,
.navbar .navbar-nav > li > a.btn.btn-rose:disabled:hover,
.navbar .navbar-nav > li > a.btn.btn-rose:disabled:focus,
.navbar .navbar-nav > li > a.btn.btn-rose:disabled.focus,
.navbar .navbar-nav > li > a.btn.btn-rose:disabled:active,
.navbar .navbar-nav > li > a.btn.btn-rose:disabled.active,
.navbar .navbar-nav > li > a.btn.btn-rose[disabled],
.navbar .navbar-nav > li > a.btn.btn-rose[disabled]:hover,
.navbar .navbar-nav > li > a.btn.btn-rose[disabled]:focus,
.navbar .navbar-nav > li > a.btn.btn-rose[disabled].focus,
.navbar .navbar-nav > li > a.btn.btn-rose[disabled]:active,
.navbar .navbar-nav > li > a.btn.btn-rose[disabled].active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-rose, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-rose:hover, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-rose:focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-rose.focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-rose:active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-rose.active {
    box-shadow: none;
}

.btn.btn-rose.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-rose.btn-simple {
    background-color: transparent;
    color: #e91e63;
    box-shadow: none;
}

.action-btn {
    text-align: center;

    .btn {
        width: 49%;
        margin-left: 0;
        margin-right: 0;
    }
}

.header-imgae {
    background-image: url('/Content/images/books.jpeg');
}

/* rtl implementation */
body[dir=rtl] {
    font-family: 'Droid Arabic Naskh', serif;

    .label-floating {
        .control-label {
            right: 0;
        }
    }

    .navbar-header, .navbar-nav {
        float: right;

        li {
            float: right;
        }
    }

    .navbar-nav.navbar-right {
        float: left !important;
    }
}

@media only screen and (max-width : 768px ) {
    .navbar-collapse {
        clear: both;
    }

    .navbar-nav {
        display: block;
        clear: both;

        li {
            display: block;
            width: 100%;
        }
    }
}

div[dir=rtl] {
    text-align: right;

    .books > div, .books-items > div, .books-details > div {
        float: right;
    }
}


.height-auto { 
    height:auto;
}

.contact {
    padding:4rem;
}


.loader-overlay {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:999999;
}

/* Spinner */

// spin circle
$spin-circle-border-color: rgba(3, 169, 244,0.4);
$spin-circle-border-radius: 50%;
$spin-border-color: rgb(3, 169, 244);
$spin-width: 75px;
$spin-height: $spin-width;
$spin-border-width: 10px;

.circle-spin {
    display: inline-block;
    margin: auto;

    .circle {
        width: $spin-width;
        height: $spin-height;
        margin: auto;
        /*border: $spin-border-width solid $spin-circle-border-color;*/
        border-radius: $spin-circle-border-radius;
        position:relative;

        &:after {
            content: " ";
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
            border: $spin-border-width solid $spin-border-color;
            position: absolute;
            border-color: $spin-border-color transparent transparent transparent;
            animation: 1s linear infinite circle-spin;
           
        }
    }

    .no-border {
        border-color: transparent;

        &:after {
        }
    }

    .ease {
        &:after {
            animation: 0.8s ease-in-out infinite circle-spin;
        }
    }

    .thin {
        border-width: $spin-border-width/3;

        &:after {
            border-width: $spin-border-width/3;
            top: $spin-border-width/3 * -1;
            left: $spin-border-width/3 * -1;
        }
    }

    .small {
        top: $spin-width/2;
        width: $spin-width/2;
        height: $spin-width/2;

        &:after {
            width: $spin-width/2;
            height: $spin-width/2;
        }
    }
}

// spin items layout
label {
    color: #fff;
    font-family: tahoma;
    font-weight: normal;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    display: block;
    top: -15px;
    font-size: 9pt;
    margin: 15px 0 10px 0;
}

.item {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.2);
    //padding:($spin-width+$spin-border-width)/2 ($spin-width+$spin-border-width)/1.5;
    width: ($spin-width+$spin-border-width)*2;
    height: ($spin-width+$spin-border-width)*2;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

// main animation
@keyframes circle-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fixed-center { 
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}

label { 
    text-shadow:none !important;
}

.bold { 
    font-weight:bold;
}

/* overwrite */
.form-group label.control-label {
    font-size: 11px;
    line-height: 1.07143;
    color: #aaa;
    font-weight: 400;
    margin: 16px 0 5px;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 25px;
    border-width:0;
    border-radius:0;
    background: #fff;
    background-clip: padding-box;
    box-shadow: inset 0 0 3px #fff, 0 1px 1px -1px rgba(0,0,0,.5);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
}

.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0;
    background-clip: padding-box;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background:#fff;
}

.chosen-container .chosen-drop {
    box-shadow: 0 2px 3px -1px rgba(0,0,0,.15);
}