<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BooksNet</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="~/Areas/Admin/Content/admin.css?v=@AppSettings.Build" rel="stylesheet" />
</head>
<body>
    
    <div class="container body-content ">
        @RenderBody()
        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>&copy; @DateTime.Now.Year - Muhammad Khair Albarmawi</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p class="text-right my-links">
                            <span><a target="_blank" href="https://www.linkedin.com/in/mbarmawi" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>  </span>
                            <span><a target="_blank" href="http://codepen.io/mbarmawi/" class="codepen"><i class="fa fa-codepen" aria-hidden="true"></i></a>             </span>
                            <span><a target="_blank" href="http://github.com/mbarmawi/" class="git"><i class="fa fa-github" aria-hidden="true"></i></a>                  </span>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Areas/Admin/Scripts/material.min.js"></script>
    <script src="~/Areas/Admin/Scripts/material-dashboard.js"></script>
    <script src="~/Areas/Admin/Scripts/bootstrap-notify.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>