
@{

}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="rose">
                        <i class="material-icons">person</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Users</p>
                        <h3 class="title">15</h3>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">print</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Publisher</p>
                        <h3 class="title">25</h3>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">mode_edit</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Authoes</p>
                        <h3 class="title">35</h3>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">book</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Books</p>
                        <h3 class="title">125</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
