<div class="row books no-padding">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/Books">Books</a></li>
                <li class="active">{{book.Title}}</li>
            </ol>
        </div>
    </div>
    <div class="col-md-12 books-details">
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
            <div class="book">
                <div class="cover">
                    <img ng-src="{{'/Resources/BooksCoverImage/'+book.CoverImageName}}" alt="{{book.Title}}">
                </div>
                <div class="title">
                    <h3>{{book.Title | maxLength}}</h3>
                </div>
            </div>

            <div class="action-btn hidden-xs">
                <a class="btn btn-info"   href="{{'/Resources/BooksFiles/'+book.FileName}}" download="{{book.FileName}}" target="_self" ng-click="updateDownloads()">
                    <i class="material-icons">file_download</i> ({{book.Downloads}})
                </a>
                <a class="btn btn-rose" href="{{'/Resources/BooksFiles/'+book.FileName}}" target="_blank">
                    <i class="material-icons">remove_red_eye</i> ({{book.Views}})
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-12">
            <div class="form-group">
                <label>Title</label>
                <label class="form-control"><b>{{book.Title}}</b></label>
            </div>

            <div class="form-group">
                <label>Publisher</label>
                <label class="form-control">{{book.Publisher}}</label>
            </div>
            <div class="form-group">
                <label>Authors</label>
                <div>
                    <span class="btn btn-white btn-round" ng-repeat="author in book.Authors"><b>{{author.Name}}</b></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'display-none':!book.PagesNumber}">
                <label>PagesNumber</label>
                <label class="form-control">{{book.PagesNumber}}</label>
            </div>

            <div class="form-group" ng-class="{'display-none':!book.Description}">
                <label>Description</label>
                <label>{{book.Description}}</label>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="action-btn visible-xs">
            <a class="btn btn-info" href="{{'/Resources/BooksFiles/'+book.FileName}}" download="{{book.FileName}}" target="_self" ng-click="updateDownloads()">
                <i class="material-icons">file_download</i> ({{book.Downloads}})
            </a>
            <a class="btn btn-rose" href="{{'/Resources/BooksFiles/'+book.FileName}}" target="_blank">
                <i class="material-icons">remove_red_eye</i> ({{book.Views}})
            </a>
        </div>
    </div>
</div>