@{
  ViewBag.Title = "Home Page";
}

<div class="index-page">


    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/Content/images/books.jpeg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="brand">
                            <h1>Books Net</h1>
                            <h3>Online library management system.</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="main main-raised">
            <div class="section section-basic">
                <div class="container">
                    <div class="title">
                        <h2>Basic Elements</h2>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>...</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="space-70"></div>


                </div>
            </div>


        </div>
    </div>

</div>
